* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--light: #fafafa;
	--dark: #787878;
	--darker: #353535;
	--overlay: rgba(33, 108, 165, 0.6);
	--overlayTxt: #31373d;
}

html,
body {
	min-height: 100%;
}

