* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--light: #fafafa;
	--dark: #787878;
	--darker: #94415b;
	--text: #0a0a0a ;
}

html,
body {
	min-height: 100%;
}

.wrapper {
    background-color: var(--darker);
    color: var(--light);
    font-family: 'Arial';
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

main {
	min-height: calc(100vh - 250px);
	background-color: var(--light);
	color: var(--text);
}

h1 {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: var(--light);
}

/* ======================== */
@media (max-width: 600px) {
  .wrapper {
    font-size: 16px;
  }
}