* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
	--light: #fafafa;
	--dark: #1a6da0;
	--darker: #0f4869;
	--text: #272727;
  --text-light: #92d7ff;
}

html,
body {
	min-height: 100%;
}
/* font-family: 'Quintessential', cursive;     font-family: 'Architects Daughter', cursive;*/
.wrapper {
    background-color: var(--darker);
    color: var(--light);
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

main {
	min-height: calc(100vh - 250px);
	background-color: var(--light);
	color: var(--text);
}

h1,
h2 {
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: var(--light);
}

/* ======================== */
@media (max-width: 600px) {
  .wrapper {
    font-size: 16px;
  }
}