header .nav {
  font-size: 1.5rem;
}

header .nav-link {
    text-decoration: none;
    color: var(--light);
    font-size: 1em;
    opacity: 0.6;
  }

  header .nav-link:hover {
    color: var(--light);
    opacity: 1;
    /* text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15); */
  }

  header .nav-link.active {
    color: var(--light);
    opacity: 1;
    cursor: default;
  }